
button.hidden-button
    +hidden-button()
    transition-duration: 0.4s
    text-align: left
    padding: 0

button.hidden-button:hover,
.sorting
    color: $primary
    +hidden-button()

button:focus
    outline: none

.logout-button
    color: #fff

.login-signup
    +hidden-button()
    color: $login-signup

.add-new-btn
    padding: 0

.btn-secondary
    color: $primary
    background-color: $solid-border
    border: none
.edit-delete-button
    padding: 0
    margin-right: 5px
