table
    width: 100%
    border-collapse: collapse
th
    font-weight: bold
    vertical-align: middle
td,th
    padding: 6px
    vertical-align: middle
    text-align: center

.table thead th
    vertical-align: middle
    border-bottom: 2px solid $solid
