button.hidden-button {
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: visible;
  outline: none;
  font-weight: bold;
  transition-duration: 0.4s;
  text-align: left;
  padding: 0;
}

button.hidden-button:hover,
.sorting {
  color: #2aa1c0;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: visible;
  outline: none;
  font-weight: bold;
}

button:focus {
  outline: none;
}

.logout-button {
  color: #fff;
}

.login-signup {
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: visible;
  outline: none;
  font-weight: bold;
  color: #116dff;
}

.add-new-btn {
  padding: 0;
}

.btn-secondary {
  color: #2aa1c0;
  background-color: #ccc;
  border: none;
}

.edit-delete-button {
  padding: 0;
  margin-right: 5px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-50 {
  margin: 0 auto;
  float: center;
  width: 50%;
  margin-top: 20px;
}

.container {
  padding: 20px;
}

.login-100 {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #bfced375;
}

.center-100 {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.right-100 {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-top: 20px;
}

.hidden {
  overflow: hidden;
  padding: 20px;
}

.buttons {
  display: inline-flex;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

input {
  margin: auto;
}

label {
  display: inline-block;
}

input.login[type=text],
input.login[type=password] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
}

input[type=text],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=time],
input[type=date] {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #008cba;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
}
input[type=submit]:hover {
  background-color: #008cba;
}

input[type=checkbox],
input:checked {
  font-weight: bold;
  margin-left: 5px;
  background-color: #008cba;
  padding: 12px 20px;
}
input[type=checkbox]:checked::after,
input:checked:checked::after {
  background-color: #008cba;
}
input[type=checkbox]:hover,
input:checked:hover {
  filter: brightness(90%);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td, th {
  padding: 6px;
  vertical-align: middle;
}

tr {
  border: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
}

.text-hidden {
  color: transparent;
}

.bg-light {
  background-color: transparent !important;
}

.filter {
  padding-bottom: 20px;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  table {
    display: block;
    border: none;
    text-align: left;
  }

  thead {
    display: block;
    border: none;
    text-align: left;
  }
  thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: -9999px;
  }

  td {
    display: block;
    border: none;
    text-align: left;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 60%;
    padding-top: 10px;
    padding-right: 10px;
  }
  td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
  }
  td:nth-of-type(1):before {
    content: "Date";
  }
  td:nth-of-type(2):before {
    content: "Doctor";
  }
  td:nth-of-type(3):before {
    content: "Patient Name";
  }
  td:nth-of-type(4):before {
    content: "Address";
  }
  td:nth-of-type(5):before {
    content: "Need Insurance";
  }
  td:nth-of-type(6):before {
    content: "Approved By Insurance";
  }
  td:nth-of-type(7):before {
    content: "Additional Information";
  }

  tr {
    display: block;
    border: none;
    text-align: left;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    display: block;
    border: none;
    text-align: left;
  }

  thead {
    display: block;
    border: none;
    text-align: left;
  }
  thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: -9999px;
  }

  td {
    display: block;
    border: none;
    text-align: left;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 60%;
    padding-top: 10px;
    padding-right: 10px;
  }
  td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
  }
  td:nth-of-type(1):before {
    content: "Date";
  }
  td:nth-of-type(2):before {
    content: "Doctor";
  }
  td:nth-of-type(3):before {
    content: "Patient Name";
  }
  td:nth-of-type(4):before {
    content: "Address";
  }
  td:nth-of-type(5):before {
    content: "Need Insurance";
  }
  td:nth-of-type(6):before {
    content: "Approved By Insurance";
  }
  td:nth-of-type(7):before {
    content: "Additional Information";
  }

  tr {
    display: block;
    border: none;
    text-align: left;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed;
  }
}
* {
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
